.navbar {
  position: relative;          
  display: flex;
  align-items: center;
  padding: 14px 8%;
  background: #f9f6f1;
}

.nav-logo {
  color: #6b4e3d;
}


.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 28px;
  list-style: none;
  font-size: 14px;
}

.nav-menu li {
  cursor: pointer;
  color: #6b4e3d;
  position: relative;
}


.nav-menu li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #6b4e3d;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}

.nav-menu li:hover::after {
  width: 100%;
}


.nav-btn {
  margin-left: auto;
  background: #6b4e3d;
  color: #fff;
  border: none;
  padding: 8px 18px;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}
