.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 60px;

  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
}

/* LOGO */
.nav-logo {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 18px;
}

/* LINKS */
.nav-links {
  list-style: none;       
  display: flex;           
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
  color: #222;
}

/* BUTTON */
.nav-btn {
  background: #9c7a4e;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
